@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: whitesmoke;
}

.desktop-navbar {
  display: none;
}

.mobile-navbar {
  width: 100%;
  background-color: #272a31;
}

.hamburger {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.bars {
  padding-left: 10px;
}

.bar {
  display: flex;
  width: 22px;
  height: 4px;
  margin: 6px auto;
  background-color: whitesmoke;
}

.mobile-menu {
  width: 100%;
  position: fixed;
  list-style-type: none;
  background-color: #272a31;
  height: 100%;
  top: 35px;
  text-align: center;
  transition: all 0.5s;
  display: none;
}

.mobile-menu li {
  opacity: 1;
  line-height: 30px;
  margin: 50px 0;
  transition: all 0.5s;
}

.mobile-menu li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}

.mobile-menu li a.active,
.mobile-menu li a:hover {
  color: #ec5242;
  transition: 0.1ms;
}

.closing {
  color: white;
}

.mobile-menu.mike {
  display: block;
}

.opening-greeting {
  display: flex;
  color: #ec5242;
  padding: 10% 13px 0 13px;
}

.opening-greeting-desktop {
  display: none;
}

.name-of-conference {
  color: #ec5242;
  padding: 10px 13px 0 13px;
  font-weight: 700;
}

.intro-comment-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10% 2% 7% 2%;
}

.intro-comment-container h2 {
  display: flex;
  padding: 30px 12px;
  font-size: 15px;
  background-color: hwb(0 100% 0%);
  font-family: 'Lato', sans-serif;
  line-height: 20px;
  color: #272a31;
}

.conference-info {
  font-family: 'cocogoose', sans-serif;
  color: #272a31;
  display: flex;
  padding-left: 19px;
}

.info {
  color: #272a31;
  display: flex;
  padding: 0 19px 50px 19px;
}

.main-program {
  background-color: #272a31;
}

.main-program h3 {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  color: white;
}

.line-parent-desktop {
  display: none;
}

.line-parent {
  display: flex;
  margin: auto;
  padding-top: 10px;
  justify-content: center;
}

.line {
  border-color: #ec5242;
  width: 2rem;
}

.program {
  max-width: 500px;
  margin: 50px 10px 20px 10px;
}

.item1-desk,
.item2-desk,
.item3-desk,
.item4-desk {
  display: none;
}

.item1 {
  background-color: #d3d3d323;
  color: #ec5242;
  font-size: 20px;
  padding: 20px;
  border: #272a31 2px solid;
  display: flex;
  justify-content: space-between;
}

.item2 {
  background-color: #d3d3d323;
  color: #ec5242;
  font-size: 20px;
  padding: 20px;
  border: #272a31 2px solid;
  display: flex;
  justify-content: space-between;
}

.item3 {
  background-color: #d3d3d323;
  color: #ec5242;
  font-size: 20px;
  padding: 20px;
  border: #272a31 2px solid;
  display: flex;
  justify-content: space-between;
}

.item4 {
  background-color: #d3d3d323;
  color: #ec5242;
  font-size: 20px;
  padding: 20px;
  border: #272a31 2px solid;
  display: flex;
  justify-content: space-between;
}

.comment {
  padding: 0 10px 0 40px;
  display: flex;
}

.join-ftf {
  display: flex;
  justify-content: center;
  height: 60px;
  padding-bottom: 10px;
}

.click {
  color: white;
  background-color: #ec5242;
  width: 80%;
  border-style: none;
  cursor: pointer;
  font-size: 20px;
}

.featured-speakers {
  background-color: white;
}

.speakers h3 {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.line1-desktop {
  display: none;
}

.line1 {
  display: flex;
  margin: auto;
  justify-content: center;
}

.last-line {
  border-color: #ec5242;
  width: 2rem;
}

.other-speakers {
  display: none;
}

.featured-images {
  max-width: 500px;
  margin: 50px 10px 20px 10px;
}

.host img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.guest-speaker img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.host {
  background-color: #d3d3d323;
  color: #ec5242;
  font-size: 20px;
  padding: 20px;
  border: white 2px solid;
  display: flex;
  justify-content: space-between;
}

.guest-speaker {
  background-color: #d3d3d323;
  color: #ec5242;
  font-size: 20px;
  padding: 20px;
  border: white 2px solid;
  display: flex;
  justify-content: space-between;
}

.details {
  padding: 0 10px 0 40px;
  display: flex;
  font-size: 10px;
}

.more-info {
  display: flex;
  justify-content: center;
  height: 60px;
  padding-bottom: 10px;
}

.link-to-program {
  display: none;
}

.click-for-more {
  font-family: 'Lato', sans-serif;
  background-color: white;
  width: 80%;
  border-style: none;
  cursor: pointer;
  font-size: 12px;
}

.partners {
  display: none;
}

.closing-content {
  display: none;
}

.btn {
  color: #ec5242;
}

@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .navbar-for-desktop-view {
    width: 100%;
    background: white;
    height: 80px;
  }

  .navbar-for-desktop-view .desktop-navbar {
    max-height: 1200px;
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  nav {
    display: flex;
  }

  nav ul {
    display: flex;
    padding: 0 10px;
  }

  nav ul li {
    list-style-type: none;
  }

  nav ul li a {
    color: #272a31;
    text-decoration: none;
    padding: 0 10px;
  }

  .opening-greeting {
    display: none;
  }

  .opening-greeting-desktop {
    display: flex;
    color: #ec5242;
    font-weight: 800;
    padding-left: 18%;
    padding-top: 10%;
  }

  .name-of-conference {
    color: #ec5242;
    padding: 10px 13px 0 13px;
    font-weight: 700;
    padding-left: 18%;
  }

  .intro-comment-container {
    display: grid;
    grid-template-columns: auto;
    padding: 3% 2% 4% 18%;
    width: 60%;
  }

  .intro-comment-container h2 {
    display: flex;
    padding: 30px 12px;
    font-size: 12px;
    background-color: hwb(0 100% 0%);
    font-family: 'Lato', sans-serif;
    line-height: 20px;
    color: #272a31;
  }

  .conference-info {
    font-family: 'cocogoose', sans-serif;
    color: #272a31;
    display: flex;
    padding: 0 0 0 18%;
  }

  .info {
    color: #272a31;
    display: flex;
    padding: 0 19px 50px 18%;
  }

  .program {
    display: flex;
    height: 25vh;
    padding: 0 400px 30px 400px;
  }

  .item1,
  .item2,
  .item3,
  .item4 {
    font-size: 13px;
  }

  .item1-desk {
    background-color: #d3d3d323;
    color: #ec5242;
    font-size: 10px;
    padding: 20px;
    border: #272a31 2px solid;
    height: 40vh;
  }

  .item2-desk {
    background-color: #d3d3d323;
    color: #ec5242;
    font-size: 20px;
    padding: 20px;
    border: #272a31 2px solid;
    height: 40vh;
  }

  .item3-desk {
    background-color: #d3d3d323;
    color: #ec5242;
    font-size: 20px;
    padding: 20px;
    border: #272a31 2px solid;
    height: 40vh;
  }

  .item4-desk {
    background-color: #d3d3d323;
    color: #ec5242;
    font-size: 20px;
    padding: 20px;
    border: #272a31 2px solid;
    height: 40vh;
  }

  .comment {
    display: none;
  }

  .join-ftf {
    display: none;
  }

  .link-to-program {
    display: flex;
    justify-content: center;
    padding: 20px 0 60px;
  }

  .link-to-program a {
    color: white;
    font-size: 9px;
  }

  nav a:hover {
    background-color: #d3d3d3;
    color: #ec5242;
  }

  .line-parent {
    display: none;
  }

  .line1 {
    display: none;
  }

  .line-parent-desktop {
    display: flex;
    margin: auto;
    padding-top: 10px;
    justify-content: center;
  }

  .line-desk {
    border-color: #ec5242;
    width: 2rem;
  }

  .line1-desktop {
    display: flex;
    margin: auto;
    padding-top: 10px;
    justify-content: center;
  }

  .last-line-desk {
    border-color: #ec5242;
    width: 2rem;
  }

  .other-speakers {
    display: flex;
  }

  .featured-image {
    display: flex;
    padding-left: 10px;
  }

  .top-speakers {
    max-width: 82%;
    display: flex;
    gap: 30%;
    margin-left: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .host img {
    width: 30%;
  }

  .guest-speaker img {
    width: 100%;
    padding-left: 270px;
    padding-right: 30px;
  }

  .host .details {
    padding: 0;
    color: #ec5242;
    font-size: small;
  }

  .guest-speaker .details {
    padding: 0;
    color: #ec5242;
    font-size: small;
  }

  .second-speaker-desktop img {
    margin-right: auto;
    margin-left: auto;
    width: 58%;
  }

  .third-speaker-desktop img {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .second-speaker-desktop .details {
    padding: 0;
    color: #ec5242;
    font-size: small;
  }

  .third-speaker-desktop .details {
    padding: 0;
    color: #ec5242;
    font-size: small;
  }

  .more-info {
    display: none;
  }

  .sponsoring-partners h3 {
    display: flex;
    justify-content: center;
    color: #d3d3d3;
  }

  .partners {
    display: block;
    background-color: #272a31;
    padding-top: 30px;
  }

  .sponsor {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 25px;
  }

  .sponsor-line {
    display: flex;
    margin: auto;
    padding-top: 15px;
    justify-content: center;
  }

  .spon-line {
    border-color: #ec5242;
    width: 2rem;
  }

  .google-color {
    color: #d3d3d3;
  }

  .uefa-color {
    color: #d3d3d3c0;
  }

  .fifa-color {
    color: #d3d3d38e;
  }

  .closing-content {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px 200px 50px 200px;
    align-items: center;
  }

  .head-sponsor {
    font-family: 'cocogoose', sans-serif;
  }
}
